[flex] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
[flex][column] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
[flex][row] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@media screen and (min-width: 0) {
  [flex][column-xs] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 750px) {
  [flex][column-sm] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 970px) {
  [flex][column-md] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1170px) {
  [flex][column-lg] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 0) {
  [flex][column-xs] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 750px) {
  [flex][column-sm] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 970px) {
  [flex][column-md] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1170px) {
  [flex][column-lg] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
[flex][wrap] {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
[flex][wrap="reverse"] {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
[flex][layout="center"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
[flex][layout="start"] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
[flex][layout="end"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
[flex][layout="space-between"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
[flex][layout="space-around"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
[flex][layout="center center"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
[flex][layout="center start"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
[flex][layout="center end"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
[flex][layout="center stretch"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
[flex][layout="center baseline"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
[flex][layout="start center"] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
[flex][layout="start start"] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
[flex][layout="start end"] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
[flex][layout="start stretch"] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
[flex][layout="start baseline"] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
[flex][layout="end center"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
[flex][layout="end start"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
[flex][layout="end end"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
[flex][layout="end stretch"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
[flex][layout="end baseline"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
[flex][layout="space-between center"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
[flex][layout="space-between start"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
[flex][layout="space-between end"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
[flex][layout="space-between stretch"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
[flex][layout="space-between baseline"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
[flex][layout="space-around center"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
[flex][layout="space-around start"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
[flex][layout="space-around end"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
[flex][layout="space-around stretch"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
[flex][layout="space-around baseline"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
[align="center"] {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
[align="start"] {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
[align="end"] {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
[align="space-between"] {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
[align="space-around"] {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}
[grow] {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
[grow="0"] {
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}
[grow="1"] {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
[grow="2"] {
  -webkit-flex-grow: 2;
  -ms-flex-grow: 2;
  flex-grow: 2;
}
[grow="3"] {
  -webkit-flex-grow: 3;
  -ms-flex-grow: 3;
  flex-grow: 3;
}
[grow="4"] {
  -webkit-flex-grow: 4;
  -ms-flex-grow: 4;
  flex-grow: 4;
}
[grow="5"] {
  -webkit-flex-grow: 5;
  -ms-flex-grow: 5;
  flex-grow: 5;
}
[grow="6"] {
  -webkit-flex-grow: 6;
  -ms-flex-grow: 6;
  flex-grow: 6;
}
[grow="7"] {
  -webkit-flex-grow: 7;
  -ms-flex-grow: 7;
  flex-grow: 7;
}
[grow="8"] {
  -webkit-flex-grow: 8;
  -ms-flex-grow: 8;
  flex-grow: 8;
}
[grow="9"] {
  -webkit-flex-grow: 9;
  -ms-flex-grow: 9;
  flex-grow: 9;
}
[grow="10"] {
  -webkit-flex-grow: 10;
  -ms-flex-grow: 10;
  flex-grow: 10;
}
[shrink] {
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
}
[shrink="0"] {
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
[shrink="1"] {
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
}
[shrink="2"] {
  -webkit-flex-shrink: 2;
  -ms-flex-shrink: 2;
  flex-shrink: 2;
}
[shrink="3"] {
  -webkit-flex-shrink: 3;
  -ms-flex-shrink: 3;
  flex-shrink: 3;
}
[shrink="4"] {
  -webkit-flex-shrink: 4;
  -ms-flex-shrink: 4;
  flex-shrink: 4;
}
[shrink="5"] {
  -webkit-flex-shrink: 5;
  -ms-flex-shrink: 5;
  flex-shrink: 5;
}
[shrink="6"] {
  -webkit-flex-shrink: 6;
  -ms-flex-shrink: 6;
  flex-shrink: 6;
}
[shrink="7"] {
  -webkit-flex-shrink: 7;
  -ms-flex-shrink: 7;
  flex-shrink: 7;
}
[shrink="8"] {
  -webkit-flex-shrink: 8;
  -ms-flex-shrink: 8;
  flex-shrink: 8;
}
[shrink="9"] {
  -webkit-flex-shrink: 9;
  -ms-flex-shrink: 9;
  flex-shrink: 9;
}
[shrink="10"] {
  -webkit-flex-shrink: 10;
  -ms-flex-shrink: 10;
  flex-shrink: 10;
}
[flex][row] [grid-1] {
  -webkit-flex-basis: 8%;
  -ms-flex-basis: 8%;
  flex-basis: 8%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-2] {
  -webkit-flex-basis: 16%;
  -ms-flex-basis: 16%;
  flex-basis: 16%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-3] {
  -webkit-flex-basis: 25%;
  -ms-flex-basis: 25%;
  flex-basis: 25%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-4] {
  -webkit-flex-basis: 33%;
  -ms-flex-basis: 33%;
  flex-basis: 33%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-5] {
  -webkit-flex-basis: 41%;
  -ms-flex-basis: 41%;
  flex-basis: 41%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-6] {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-7] {
  -webkit-flex-basis: 58%;
  -ms-flex-basis: 58%;
  flex-basis: 58%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-8] {
  -webkit-flex-basis: 66%;
  -ms-flex-basis: 66%;
  flex-basis: 66%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-9] {
  -webkit-flex-basis: 75%;
  -ms-flex-basis: 75%;
  flex-basis: 75%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-10] {
  -webkit-flex-basis: 83%;
  -ms-flex-basis: 83%;
  flex-basis: 83%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-11] {
  -webkit-flex-basis: 91%;
  -ms-flex-basis: 91%;
  flex-basis: 91%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
[flex][row] [grid-12] {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-1] {
    -webkit-flex-basis: 8%;
    -ms-flex-basis: 8%;
    flex-basis: 8%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-1] {
    -webkit-flex-basis: 8%;
    -ms-flex-basis: 8%;
    flex-basis: 8%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-1] {
    -webkit-flex-basis: 8%;
    -ms-flex-basis: 8%;
    flex-basis: 8%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-1] {
    -webkit-flex-basis: 8%;
    -ms-flex-basis: 8%;
    flex-basis: 8%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-2] {
    -webkit-flex-basis: 16%;
    -ms-flex-basis: 16%;
    flex-basis: 16%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-2] {
    -webkit-flex-basis: 16%;
    -ms-flex-basis: 16%;
    flex-basis: 16%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-2] {
    -webkit-flex-basis: 16%;
    -ms-flex-basis: 16%;
    flex-basis: 16%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-2] {
    -webkit-flex-basis: 16%;
    -ms-flex-basis: 16%;
    flex-basis: 16%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-3] {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-3] {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-3] {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-3] {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-4] {
    -webkit-flex-basis: 33%;
    -ms-flex-basis: 33%;
    flex-basis: 33%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-4] {
    -webkit-flex-basis: 33%;
    -ms-flex-basis: 33%;
    flex-basis: 33%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-4] {
    -webkit-flex-basis: 33%;
    -ms-flex-basis: 33%;
    flex-basis: 33%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-4] {
    -webkit-flex-basis: 33%;
    -ms-flex-basis: 33%;
    flex-basis: 33%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-5] {
    -webkit-flex-basis: 41%;
    -ms-flex-basis: 41%;
    flex-basis: 41%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-5] {
    -webkit-flex-basis: 41%;
    -ms-flex-basis: 41%;
    flex-basis: 41%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-5] {
    -webkit-flex-basis: 41%;
    -ms-flex-basis: 41%;
    flex-basis: 41%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-5] {
    -webkit-flex-basis: 41%;
    -ms-flex-basis: 41%;
    flex-basis: 41%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-6] {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-6] {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-6] {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-6] {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-7] {
    -webkit-flex-basis: 58%;
    -ms-flex-basis: 58%;
    flex-basis: 58%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-7] {
    -webkit-flex-basis: 58%;
    -ms-flex-basis: 58%;
    flex-basis: 58%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-7] {
    -webkit-flex-basis: 58%;
    -ms-flex-basis: 58%;
    flex-basis: 58%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-7] {
    -webkit-flex-basis: 58%;
    -ms-flex-basis: 58%;
    flex-basis: 58%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-8] {
    -webkit-flex-basis: 66%;
    -ms-flex-basis: 66%;
    flex-basis: 66%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-8] {
    -webkit-flex-basis: 66%;
    -ms-flex-basis: 66%;
    flex-basis: 66%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-8] {
    -webkit-flex-basis: 66%;
    -ms-flex-basis: 66%;
    flex-basis: 66%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-8] {
    -webkit-flex-basis: 66%;
    -ms-flex-basis: 66%;
    flex-basis: 66%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-9] {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    flex-basis: 75%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-9] {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    flex-basis: 75%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-9] {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    flex-basis: 75%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-9] {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    flex-basis: 75%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-10] {
    -webkit-flex-basis: 83%;
    -ms-flex-basis: 83%;
    flex-basis: 83%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-10] {
    -webkit-flex-basis: 83%;
    -ms-flex-basis: 83%;
    flex-basis: 83%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-10] {
    -webkit-flex-basis: 83%;
    -ms-flex-basis: 83%;
    flex-basis: 83%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-10] {
    -webkit-flex-basis: 83%;
    -ms-flex-basis: 83%;
    flex-basis: 83%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-11] {
    -webkit-flex-basis: 91%;
    -ms-flex-basis: 91%;
    flex-basis: 91%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-11] {
    -webkit-flex-basis: 91%;
    -ms-flex-basis: 91%;
    flex-basis: 91%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-11] {
    -webkit-flex-basis: 91%;
    -ms-flex-basis: 91%;
    flex-basis: 91%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-11] {
    -webkit-flex-basis: 91%;
    -ms-flex-basis: 91%;
    flex-basis: 91%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 0) {
  [flex][row] [grid-xs-12] {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 750px) {
  [flex][row] [grid-sm-12] {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 970px) {
  [flex][row] [grid-md-12] {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1170px) {
  [flex][row] [grid-lg-12] {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
