@import 'variables'

// GRID
$max-rows = 12
$min-rows = 1
$rows = range($min-rows, $max-rows)

// Breakpoints
[flex][row]
  
  for $num in $rows
    [grid-{$num}]
      flex-basis(floor(percentage($num/$max-rows)))
      flex-grow(1)
      box-sizing border-box

  for $num in $rows
    for $size, $breakpoint in $sizes
      [grid-{$size}-{$num}]
        @media screen and (min-width: $breakpoint)
          flex-basis(floor(percentage($num/$max-rows)))
          flex-grow(1)
          box-sizing border-box
