@import 'variables'

// GRID
$max-rows = 12
$min-rows = 1
$rows = range($min-rows, $max-rows)

// Breakpoints
[flex][row],
[data-flex][data-row]
  for $num in $rows
    [grid-{$num}],
    [data-grid-{$num}]
      flex-basis floor(percentage($num/$max-rows))
      flex-grow 1
      box-sizing border-box

  for $size, $breakpoint in $sizes
    for $num in $rows
      [grid-{$size}-{$num}], [data-grid-{$size}-{$num}]
        flex-grow 1
        box-sizing border-box
        @media screen and (max-width: $breakpoint)
          flex-basis floor(percentage($num/$max-rows))
