@import 'variables'

$primary-axis = center start end space-between space-around
$secondary-axis = center start end stretch baseline

// LAYOUT
[flex],
[data-flex]

  display flex
  flex-wrap nowrap

  &[column],
  &[data-column]
    display flex
    flex-direction column

  &[row],
  &[data-row]
    display flex
    flex-direction row
    flex-wrap nowrap

  for $direction in row column
    for $size, $breakpoint in $sizes
      &[column-{$size}],
      &[data-column-{$size}]
        @media screen and (min-width: $breakpoint)
          display flex
          flex-direction $direction

  &[wrap],
  &[data-wrap]
    flex-wrap wrap

  &[wrap="reverse"],
  &[data-wrap="reverse"]
    flex-wrap wrap-reverse

  for $alignment in $primary-axis
    &[data-layout=\"{$alignment}\"],
    &[layout=\"{$alignment}\"]
      justify-content $alignment

  for $primary-alignment in $primary-axis
    for $secondary-alignment in $secondary-axis
      &[layout=\"{$primary-alignment} {$secondary-alignment}\"],
      &[data-layout=\"{$primary-alignment} {$secondary-alignment}\"]
        justify-content $primary-alignment
        align-items $secondary-alignment

for $prop in $primary-axis
  [data-align=\"{$prop}\"],
  [align=\"{$prop}\"]
    align-content $prop

[grow],
[data-grow]
  flex-grow 1

for $num in range(0,10)
  [grow=\"{$num}\"],
  [data-grow=\"{$num}\"]
    flex-grow $num

[shrink],
[data-shrink]
  flex-shrink 1

for $num in range(0,10)
  [shrink=\"{$num}\"],
  [data-shrink=\"{$num}\"]
    flex-shrink $num
